# ----------------------------------
# Project dependencies
# ----------------------------------
node_modules

# ----------------------------------
# Build artifacts
# ----------------------------------
.cache/
public/
dist/

# ----------------------------------
# package managers
# ----------------------------------
yarn-error.log

# ----------------------------------
# System
# ----------------------------------
.DS_Store
